<ion-header>
  <ion-toolbar>
    <ion-title>Parking App</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vehicle Management</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="goToViewVehicles()">
        View Vehicles
      </ion-button>

      <ion-button expand="block" (click)="goToAddVehicle()">
        Add Vehicle
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Parking Sessions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="goToParkingSession()">
        Start Parking Session
      </ion-button>
    </ion-card-content>

    <ion-button expand="block" color="danger" (click)="logout()">
      Logout
    </ion-button>
  </ion-card>

</ion-content>